<div class="jumbotron">
  <h1>About the Adventurer's Tavern</h1>
  <p>This is a site all about food and drinks from the games we love playing. Encourage your gaming companions to share their creations at your get-togethers and post them. You could even buff the party based on what they bring.</p>
</div>